PORT=5000
BACKEND_PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/earthscape
JWT_SECRET=earthscape_super_secret_jwt_key_2026
HDFS_ENABLED=false
HDFS_NAMENODE_URL=http://localhost:9870/webhdfs/v1
ML_SERVICE_URL=http://127.0.0.1:8000
NODE_ENV=development
